<div class=" mx-auto p-6 bg-[#87CAE9] text-white rounded-lg shadow-lg">

    <!-- Table for Dates and Prescription/Etat/Resultat Buttons -->
    <div class="overflow-hidden rounded-lg">
      <table class="w-full text-left">
        <!-- Table Header -->
        <thead>
          <tr>
            <th class="px-4 py-2 border-b-2">Date du Bilan</th>
            <th class="px-4 py-2 border-b-2">Type</th>
            <th class="px-4 py-2 border-b-2">Prescription</th>
            <th class="px-4 py-2 border-b-2">Etat</th>
            <th class="px-4 py-2 border-b-2">Résultat</th>
          </tr>
        </thead>
  
        <!-- Table Body -->
        <tbody>
          <tr *ngFor="let consultation of consultations" class="border-b border-blue-300">
            <td class="px-4 py-2">{{ consultation.date }}</td>
            <td class="px-4 py-2">{{ consultation.type }}</td>
            
            <!-- Prescription Button -->
            <td class="px-4 py-2">
              <button
                class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
                (click)="displayPrescription()"
              >
                Prescription
              </button>
              <app-bilan-button *ngIf="show" (closeModal)="hidePrescription()"></app-bilan-button>

            </td>
  
            <!-- Etat Button -->
            <td class="px-4 py-2">
              <button
                class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
                (click)="displayEtat()"
              >
                Etat
              </button>
              <app-bilan-button *ngIf="show2" (closeModal)="hideEtat()"></app-bilan-button>

            </td>
  
            <!-- Résultat Button -->
            <td class="px-4 py-2">
              <button
                class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
                (click)="displayResultat()"
              >
                Résultat
              </button>
              <app-bilan-button *ngIf="show3" (closeModal)="hideResultat()"></app-bilan-button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  