<div class="p-4 rounded-lg mx-auto my-8 sm:max-w-4xl">
  <app-menu></app-menu><!-- Header for Patient Info -->
  <div class="patient-info mb-0 text-black space-y-4">
    <div class="flex justify-between items-center">
      <div>
        <label for="nom" class="font-semibold text-lg">Nom: </label>
        <span id="nom" class="text-base">{{ bilan.patient?.nom || 'N/A' }}</span> <!-- Replace with actual data -->
      </div>
      <div>
        <label for="prenom" class="font-semibold text-lg">Prénom: </label>
        <span id="prenom" class="text-base">{{ bilan.patient?.prenom || 'N/A' }}</span> <!-- Replace with actual data -->
      </div>
      <div>
        <label for="numDossier" class="font-semibold text-lg">Num de sécurite social: </label>
        <span id="num de securite social" class="text-base">{{ bilan.patient?.nss || '' }}</span> <!-- Replace with actual data -->
      </div>
    </div>
  </div>

  <!-- Line Below -->
  <div class="border-b-2 border-gray-300 mt-4"></div>
</div>

<div class="container bg-[#507bbc] p-8 rounded-lg mx-auto my-8 max-w-full sm:max-w-4xl">
  <h1 class="title text-white text-3xl font-bold mb-6 mb-0 text-center">Bilan</h1>

  <!-- Displaying static information (Nom, Medcin, Date, Description) -->
  <div class="details mb-6 text-white space-y-4">
  

    <div>
      <span id="date" class="text-lg">Date: {{ bilan.date_debut || '' }}</span>
    </div>

    <div>
      <span id="description" class="text-lg">Description: {{ bilan.description || 'pas de description' }}</span>
    </div>
  </div>

  <!-- Form Component -->
  <div class="mb-6">
    <app-form
      [labels]="['Résultat']"
      (formSubmit)="onFormSubmit($event)"
    ></app-form>
  </div>

  
  </div>
  <div class="flex justify-center items-center min-h-screen ">
    <h1 class="text-3xl font-bold text-center text-gray-900">
      <span class="relative">
        <span class="absolute inset-0 text-transparent stroke-gray-900 stroke-2">
          Si vous voulez générer un graphique, entrez les informations suivantes
        </span>
        Si vous voulez générer un graphique, entrez les informations suivantes
      </span>
    </h1>
  </div>
    <div class="mb-6">
      <app-form
      [labels]="['Cholestérol', 'Fer tests', 'Hypertension']"
      (formSubmit)="onFormSubmit2($event)"
    ></app-form>
  </div>
<!-- Last Button Aligned to the Right -->
<div class="flex justify-end p-4">
  <button
    class="shadow-xl bg-[#356bba] w-full sm:w-60 h-10 text-white rounded"
    type="button"
    (click)="generateGraph()"
  >
    Générer graphique
  </button>
  
</div> 
<div class="flex justify-center items-center my-6">
  <canvas id="myChart" ></canvas>
</div>
<app-bouttonretour></app-bouttonretour>