<div class="mx-auto p-6 bg-[#87CAE9] text-white rounded-lg shadow-lg">
  <div class="overflow-hidden rounded-lg">
    <table class="w-full text-left">
      <thead>
        <tr>
          <th class="px-4 py-2 border-b-2">Date de l'ordonnance</th>
          <th class="px-4 py-2 border-b-2">Contenu</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordonnance of prescription; let i = index" class="border-b border-blue-300">
          <td class="px-4 py-2">{{ ordonnance.date | date:'short' }}</td>
          <td class="px-4 py-2">
            <button
              class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
              (click)="toggleContenu(i)"
            >
              Contenu
            </button>
            <app-prescription-button
  *ngIf="ordonnance.show"
  [medicaments]="ordonnance.medicaments"    (closeModal)="hideContenu(i)"
></app-prescription-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
