
<div class="flex w-full h-full flex-row">
          
    <!--  <div 
           class="relative object-cover w-screen  bg-center bg-no-repeat transform scale-40"
           [ngStyle]="{'background-image': 'url(../../../assets/Images/admin.png)'}">
         Overlay
       
        <div class="absolute inset-0 bg-black opacity-30"></div>
        
      Content on top of the overlay --> 
      <div class="relative z-10 flex flex-col items-center justify-center h-full">
        <h1 class="text-white text-[3rem] md:text-[5rem] font-bold px-4 text-center mt-4">
          Bienvenue,<br /> {{ userName }}
        </h1>
        <div>
          <app-menu class="z-50" />
        </div>
      </div>
      
     
    </div>
    