
<div class="text-center  text-gray-400" *ngIf="data && fieldOrder.length" class="flex flex-col ">
  <div class="">
    
    <p class="text-center  text-gray-400">Vous remplissez les informations relatives au patient :</p>
  </div>
  <div class="flex justify-center space-x-8 py-2 pb-12">
    <span *ngFor="let field of fieldOrder">
      {{ data[field] || data[0][field] || 'Valeur manquante' }}
    </span>
  </div>
</div>

  <!-- Si aucune donnée -->
  <div *ngIf="!data || !fieldOrder.length" class="text-red-500">
    Aucune donnée disponible
  </div>
  