<div class="mx-auto p-6 bg-[#87CAE9] text-white rounded-lg shadow-lg">
  <div class="overflow-hidden rounded-lg">
    <table class="w-full text-left">
      <thead>
        <tr>
          <th class="px-4 py-2 border-b-2">Date du Bilan</th>
          <th class="px-4 py-2 border-b-2">Type</th>
          <th class="px-4 py-2 border-b-2">Description</th>
          <th class="px-4 py-2 border-b-2">Etat</th>
          <th class="px-4 py-2 border-b-2">Résultat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let consultation of consultations; let i = index" class="border-b border-blue-300">
          <td class="px-4 py-2">{{ consultation.date_debut | date: 'short' }}</td>
          <td class="px-4 py-2">{{ consultation.type }}</td>
          <td class="px-4 py-2">
            <button class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition" (click)="displayPrescription(i)">
              Description
            </button>
            <app-bilan-button
      *ngIf="consultation.show"
      [paragraphContent]="consultation.description"
      (closeModal)="displayPrescription(i)">
    </app-bilan-button>     </td>
          <td class="px-4 py-2">{{ consultation.valide ? 'Valide' : 'Non Valide' }}</td>   <td class="px-4 py-2">
            <button class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition" (click)="displayResultat(i)">
              Compte Rendu
            </button>
            <app-boutton-resultat
            *ngIf="consultation.show3"
            [paragraphContent]="consultation.compte_rendu"
            (closeModal)="displayResultat(i)">
          </app-boutton-resultat>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
