<div class=" mx-auto p-6 bg-[#87CAE9] text-white rounded-lg shadow-lg">

  <!-- Table for Dates and Prescription/Etat/Resultat Buttons -->
  <div class="overflow-hidden rounded-lg">
    <table class="w-full text-left">
      <!-- Table Header -->
      <thead>
        <tr>
          <th class="px-4 py-2 border-b-2">Date du Bilan</th>
          <th class="px-4 py-2 border-b-2">Type</th>
          <th class="px-4 py-2 border-b-2">Prescription</th>
          <th class="px-4 py-2 border-b-2">Etat</th>
          <th class="px-4 py-2 border-b-2">Résultat</th>
        </tr>
      </thead>

      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let consultation of consultation;let i = index" class="border-b border-blue-300">
          <td class="px-4 py-2">{{ consultation.date }}</td>
          <td class="px-4 py-2">{{ consultation.type }}</td>
          
          <!-- Prescription Button -->
          <td class="px-4 py-2">
            <button
              class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
              (click)="displayPrescription(i)"
            >
              Prescription
            </button>
            <app-bilan-button *ngIf="consultation.show" (closeModal)="hidePrescription(i)"></app-bilan-button>

          </td>

          <!-- Etat Button -->
          <td class="px-4 py-2">
            <button
              class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
              (click)="displayEtat(i)"
            >
              Etat
            </button>
            <app-boutton-etat *ngIf="consultation.show2" (closeModal)="hideEtat(i)"></app-boutton-etat>

          </td>

          <!-- Résultat Button -->
          <td class="px-4 py-2">
            <button
              class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
              (click)="displayResultat(i)"
            >
              Résultat
            </button>
            <app-boutton-resultat *ngIf="consultation.show3" (closeModal)="hideResultat(i)"></app-boutton-resultat>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
