.table-container {
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

thead {
  background-color: #356BBA;
  color: white;
  font-size: large;
  line-height: 1.5;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tous {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Ajuste la distance entre les boutons */
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px; /* Ajuste la distance entre les boutons */
}

.tous {
  display: flex;
  flex-direction: row;
  gap: 50%; /* Ajuste pour le fond à droite du bouton */
  align-items: center; /* Pour centrer verticalement les boutons */
}

.tous .btns {
  flex: 1;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px; /* Ajuste la distance entre les boutons */
}