<div class="container mx-auto p-6">
    <!-- Tabs Section -->
    <div class="tabs flex justify-center border-b">
      <button
        class="px-6 py-2 border-b-2 font-medium text-sm mx-2"
        [ngClass]="{ 'border-blue-600 text-blue-600': activeTab === 'nonTreated', 'text-gray-600': activeTab !== 'nonTreated' }"
        (click)="setActiveTab('nonTreated')"
      >
        Demandes non traitées
      </button>
      <button
        class="px-6 py-2 border-b-2 font-medium text-sm mx-2"
        [ngClass]="{ 'border-blue-600 text-blue-600': activeTab === 'treated', 'text-gray-600': activeTab !== 'treated' }"
        (click)="setActiveTab('treated')"
      >
        Demandes traitées
      </button>
    </div>
  
    <!-- Content Section -->
    <div class="content mt-4">
      <!-- Non-Treated Demandes -->
      <div *ngIf="activeTab === 'nonTreated'" class="grid grid-cols-3 gap-4">
        <div *ngFor="let demande of nonTreatedDemandes" class="p-4 border rounded-lg shadow-sm">
          <div class="flex justify-between">
            <h3 class="font-semibold">{{ demande.name }}</h3>
            <button 
            class="text-blue-600 text-sm" 
            [routerLink]="['/form-radiologue']" 
            [queryParams]="{ id: demande.id }">
            traiter
          </button>
          </div>
          <p class="text-gray-500 text-sm mt-1">Date: {{ demande.date }}</p>
          <p class="text-gray-500 text-sm">Description:</p>
          <p class="text-gray-700 text-sm break-words">
            {{ demande.description }}
          </p>
        </div>
      </div>
  
      <!-- Treated Demandes -->
      <div *ngIf="activeTab === 'treated'" class="grid grid-cols-3 gap-4">
        <div *ngFor="let demande of treatedDemandes" class="p-4 border rounded-lg shadow-sm">
          <div class="flex justify-between">
            <h3 class="font-semibold">{{ demande.name }}</h3>
            <button 
            class="text-blue-600 text-sm" 
            [routerLink]="['/form-radiologue']" 
            [queryParams]="{ id: demande.id }">
            Modifier
          </button>
          </div>
          <img [src]="demande.image" alt="X-ray" class="mt-2 h-32 object-cover" />
          <p class="text-gray-500 text-sm mt-2">Fait le: {{ demande.date }}</p>
          <p class="text-gray-500 text-sm">Par: {{ demande.by }}</p>
          <p class="text-gray-500 text-sm">Demandé Par: {{ demande.medcin }}</p>
          <p class="text-gray-500 text-sm">Description: {{ demande.description }}</p>
          <p class="text-black-500 text-sm">Compte rendu: {{ demande.compteRendu }}</p>

        </div>
      </div>
    </div>
  </div>
  