<div class="relative h-screen w-full">
    <app-background-video></app-background-video>
    
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-white">
        <h1 class="text-4xl font-bold">Bienvenue </h1>
        
        
        <button class="mt-2  relative flex items-center px-3 pl-3 pr-10 py-2 transition-all duration-600 ease-in-out  from-cyan-400 to-purple-600 text-white rounded-full text-xs font-medium uppercase  focus:outline-none">
            Commencer
          
               <div class=" absolute right-0.5   flex items-center justify-center w-7 h-7 bg-white rounded-full transition-all duration-600 ease-in-out hover:w-full hover:ml-9   ml-3">
    <svg class="w-4 h-4 transition-transform duration-300 text-[#ffc934]" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"></path>
      <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
    </svg>
  </div>
          </button>
          
          
          
          

          
          
    </div>
</div>
