<div class="mx-auto p-6 bg-[#87CAE9] mt-0 text-white rounded-lg shadow-lg">
  <div class="overflow-hidden rounded-lg">
    <table class="w-full text-left">
      <thead>
        <tr>
          <th class="px-4 py-2 border-b-2">Date des soins</th>
          <th class="px-4 py-2 border-b-2">Observation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let soin of soins; let i = index" class="border-b border-blue-300">
          <td class="px-4 py-2">{{ soin.date }}</td>
          <td class="px-4 py-2">
            <button
              class="bg-white text-blue-500 font-semibold py-1 px-4 rounded hover:bg-blue-100 transition"
              (click)="displaySoin(i)"
            >
              Voir l'observation
            </button>
            <app-soin-button *ngIf="soin.show" [paragraphContent]="soin.observation"></app-soin-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
