<div class="max-h-screen flex-grow flex flex-col sm:h-auto sm:place-items-center sm:pb-20">
    <div class="fixed top-2 right-0 sm:flex w-auto justify-end h-17 p-4 z-50">
        <div class="w-24 h-full bg-[#edf1f4] rounded-3xl p-2 flex flex-row items-center justify-end gap-3">
            <div class="w-10 h-10 rounded-full flex justify-center items-center text-[#87CAE9]" (click)="toggleCall()">
                <!-- Icône pour le bouton de contact -->
                <span class="iconify" data-icon="ic:outline-phone" data-inline="false"></span>
            </div>
            <div class="w-10 h-9 rounded-full flex justify-center items-center bg-[#356bba] shadow-xl cursor-pointer" (click)="toggleProfile()">
                <!-- Icône pour le bouton de profil -->
                <span class="iconify text-white" data-icon="ic:outline-account-circle" data-inline="false" style="color: white;"></span>
            </div>
        </div>
    </div>

    <!-- Overlay de contact -->
    <div *ngIf="openCall" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-[9999]" (click)="closeOverlays()">
        <div class="w-64 absolute top-24 right-5 bg-[#edf1f4] rounded-xl h-fit flex flex-col place-content-between place-items-center p-5" (click)="$event.stopPropagation()">
            <p class="text-sm font-extralight">Contacter nous sur ce numero :<br/> 05 55 55 55 55</p>
            <p class="text-sm font-extralight">Ou bien sur cette adresse email :<br/> tpIgl&#64;esi.dz</p>
        </div>
    </div>

    <!-- Overlay de profil -->
    <div *ngIf="openProfile" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-[9999]" (click)="closeOverlays()">
        <div class="w-64 absolute top-24 right-5 bg-[#edf1f4] rounded-xl h-fit flex flex-col" (click)="$event.stopPropagation()">
            <h2 class="w-full p-2 border-b border-gray-300">Hi, {{user.name}} 👋</h2>
            <a [routerLink]="['/']" class="w-full p-2 border-b border-gray-300 flex gap-2 items-center">
                Profile
            </a>
            <a href="/" class="w-full p-2 flex gap-2 items-center">
                <!-- Icône pour déconnexion -->
                <span class="iconify" data-icon="ic:outline-logout" data-inline="false"></span>
                Log out
            </a>
        </div>
    </div>

    <div class="w-full flex place-content-center place-items-start h-full overflow-y-scroll">
        <router-outlet></router-outlet>
    </div>
</div>
