<table>
    <tbody>
      <tr>
        <th>Numéro de sécurité sociale</th>
        <td>{{ userData.nss }}</td>
      </tr>
      <tr>
        <th>Nom</th>
        <td>{{ userData.nom }}</td>
      </tr>
      <tr>
        <th>Prénom</th>
        <td>{{ userData.prenom }}</td>
      </tr>
      <tr>
        <th>Date de naissance</th>
        <td>{{ userData.dateNaissance }}</td>
      </tr>
      <tr>
        <th>Adresse</th>
        <td>{{ userData.adresse }}</td>
      </tr>
      <tr>
        <th>Numéro de téléphone</th>
        <td>{{ userData.telephone }}</td>
      </tr>
      <tr>
        <th>Mutuelle</th>
        <td>{{ userData.mutuelle }}</td>
      </tr>
      <tr>
        <th>Médecin traitant</th>
        <td>{{ userData.medecinTraitant }}</td>
      </tr>
      <tr>
        <th>Personne à contacter</th>
        <td>{{ userData.personneContacter }}</td>
      </tr>
      <tr>
        <th>Code QR</th>
        <td>{{ userData.codeQR }}</td>
      </tr>
    </tbody>
  </table>
  