
<div class=" p-4 rounded-lg mx-auto my-8 sm:max-w-4xl">
 <app-menu></app-menu> <!-- Header for Patient Info -->
  <div class="patient-info mb-0 text-black space-y-4">
    <div class="flex justify-between items-center">
      <div>
        <label for="nom" class="font-semibold text-lg">Nom:  </label>
        <span id="nom" class="text-base">{{ nom }}</span> <!-- Replace with actual data -->
      </div>
      <div>
        <label for="prenom" class="font-semibold text-lg">Prénom:  </label>
        <span id="prenom" class="text-base">{{ prenom }}</span> <!-- Replace with actual data -->
      </div>
      <div>
        <label for="numDossier" class="font-semibold text-lg">Numéro de dossier:  </label>
        <span id="numDossier" class="text-base">{{ numDossier }}</span> <!-- Replace with actual data -->
      </div>
    </div>
  </div>

  <!-- Line Below -->
  <div class="border-b-2 border-gray-300 mt-4"></div>
</div>
  
  <div class="container bg-[#507bbc] p-8 rounded-lg mx-auto my-8 max-w-full sm:max-w-4xl">
    <h1 class="title text-white text-3xl font-bold mb-6 text-center">Bilan radiologique</h1>
  
    <!-- Displaying static information (Nom, Medcin, Date, Description) -->
    <div class="details mb-6 text-white space-y-4">
      <div class="">
        <span id="medcin" class="text-lg">Dr. Jean Dupont</span>
      </div>
  
      <div class="">
        <span id="date" class="text-lg">25 Décembre 2024</span>
      </div>
  
      <div class="">
        <span id="description" class="text-lg">Consultation pour évaluation de la santé générale.</span>
        
      </div>
    </div>
  
    <!-- Form Component -->
    <div class="mb-6">
      <app-form [labels]="fields"></app-form>
    </div>
  
    <!-- Generate Graph Button -->
   

    <div class="">
        <span id="importe" class="text-lg text-white">Importer la radio</span>
      </div>      
    
      <div class="flex items-center justify-center mt-6">
        <!-- File Input Hidden -->
        <input 
          type="file" 
          id="fileInput" 
          (change)="onFileSelected($event)" 
          accept="image/*" 
          style="display: none" 
        />
      
        <!-- Import Button -->
        <button
          class="shadow-xl bg-[#87CAE9] text-white rounded-md w-full sm:w-1/2 h-10 transition-colors duration-300 hover:bg-[#356bba]"
          type="button"
          (click)="triggerFileInput()"
        >
          Importer
        </button>
      </div>
      
      <!-- Preview Section (Optional, to display selected image) -->
      <div class="mt-4">
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Preview" class="w-40 h-40 object-cover border rounded" />
      </div>
      
  </div>
<app-bouttonretour></app-bouttonretour>
    
 
  